.panel {
	height: 255px;
}
/* http://www.spritecow.com/ */

.btn-new {
	background: url('../img/icons.png') no-repeat -19px -16px;
	width: 54px;
	height: 67px;	
}

.btn-edit {
	background: url('../img/icons.png') no-repeat -475px -16px;
	width: 59px;
	height: 67px;
}

.btn-delete {
	background: url('../img/icons.png') no-repeat -586px -124px;
	width: 66px;
	height: 74px;	
}

.btn-reload {
	background: url('../img/icons.png') no-repeat -471px -235px;
	width: 67px;
	height: 74px;	
}

.btn-new-small {
	background: url('../img/icons-small.png') no-repeat -6px -4px;
	width: 19px;
	height: 25px;	
}

.btn-edit-small {
	background: url('../img/icons-small.png') no-repeat -158px -5px;
	width: 21px;
	height: 23px;
}

.btn-delete-small {
	background: url('../img/icons-small.png') no-repeat -195px -41px;
	width: 23px;
	height: 25px;
}

.btn-reload-small {
	background: url('../img/icons-small.png') no-repeat -157px -78px;
	width: 23px;
	height: 25px;
}

.panel-data{
	height: 350px;
}
.panel-data-table{
	background-color: #ececec;
}

table {
    width: 100%;
    border-spacing: 0;
}

thead, tbody, tr, th, td { display: block; }

thead tr {
    /* fallback */
    width: 97%;
    /* minus scroll bar width */
    width: -webkit-calc(100% - 16px);
    width:    -moz-calc(100% - 16px);
    width:         calc(100% - 16px);
}

tr:after {  /* clearing float */
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

tbody {
    height: 260px;
    overflow-y: auto;
    overflow-x: hidden;
}

tbody td, thead th {
    width: 19%;  /* 19% is less than (100% / 5 cols) = 20% */
    float: left;
}