<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">

<title>Node - MongoDB</title>

<% include ../partials/header.ejs %>

</head>
<body>

<% include ../partials/menu.ejs %>

<div>

	<div class="container" id="main">
	  
		<div class="row">
	    
			<div class="col-md-4 col-sm-6">
	      
		      <div class="panel panel-default">
			     
					<div class="panel-body">
						<div class="row">
							<div class="col-md-12">
								<h4>Please execute follow the steps:</h4>
							</div>
							<div class="col-md-12">
								Exec assets\mongodb\start_mongoDB.bat
							</div>
							<div class="col-md-12">
								Exec assets\mongodb\start_node.bat
							</div>							
						</div>						
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
	      
		      <div class="panel panel-default">
			     
					<div class="panel-body">
						<div class="row">							
							<div class="col-md-12">
								<h4>List of APIs (Use Postman):</h4>
								<ul>
								<li><a href="http://localhost:8081/listUsers" target="_blank">GET http://localhost:8081/listUsers</a></li>
								<li><a href="http://localhost:8081/addUser" target="_blank"> POST http://localhost:8081/addUser</a></li>
								<li><a href="http://localhost:8081/getUser/2" target="_blank">GET http://localhost:8081/getUser/2</a></li>
								<li><a href="http://localhost:8081/delUser/2" target="_blank">POST http://localhost:8081/delUser/2</a></li>
								<li><a href="http://localhost:8081/updUser" target="_blank">POST http://localhost:8081/updUser</a></li>
								</ul>
							</div>
						</div>						
					</div>
				</div>
			</div>
		</div>
	</div>

</div>

</body>
</html>