<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">

<title>RethinkDB</title>

<% include ../partials/header.ejs %>

</head>
<body>

<% include ../partials/menu.ejs %>

<div>

	<div class="container" id="main">
	  
		<div class="row">
	    
			<div class="col-md-4 col-sm-6">
	      
		      <div class="panel panel-default">
			     
					<div class="panel-body">
						<div class="row">
							<div class="col-md-12">
								<h4>Please execute follow the steps:</h4>
							</div>
							<div class="col-md-12">
								Exec assets\loopback\start_mongoDB.bat
							</div>
							<div class="col-md-12">
								Exec assets\loopback\start_loopbak.bat
							</div>
							<div class="col-md-12">
								So you can access <a href="http://localhost:3000/explorer" target="_blank"> http://localhost:3000/explorer</a>
							</div>
						</div>						
					</div>
				</div>
			</div>
		</div>
	</div>

</div>

</body>
</html>