<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">

<title>Node - MongoDB</title>

<% include ../partials/header.ejs %>

</head>
<body>

<% include ../partials/menu.ejs %>

<div>

	<div class="container" id="main">
	  
		<div class="row">
	    
			<div class="col-md-4 col-sm-6">
	      
		      <div class="panel panel-default">
			     
					<div class="panel-body">
						<div class="row">
							<div class="col-md-12">
								<h4>Please execute follow the steps:</h4>
							</div>
							<div class="col-md-12">
								Exec assets\loopback\start_swagger_editor.bat
							</div>							
							<div class="col-md-12">
								So you can access <a href="http://localhost:8089/" target="_blank">http://localhost:8089/</a>
							</div>
						</div>						
					</div>
				</div>
			</div>
			
			<div class="col-md-4 col-sm-6">
	      
		      <div class="panel panel-default">
			     
					<div class="panel-body">
						<div class="row">
							<div class="col-md-12">
								<h4>Local preview:</h4>
							</div>
							<div class="col-md-12">
								<a href="http://localhost:8080/swagger/swagger-ui/dist/" target="_blank">http://localhost:8080/swagger/swagger-ui/dist/</a>
							</div>							
						</div>						
					</div>
				</div>
			</div>			
			
			<div class="col-md-4 col-sm-6">
	      
		      <div class="panel panel-default">
			     
					<div class="panel-body">
						<div class="row">							
							<div class="col-md-12">
								<h4>Available on:</h4>
							</div>							
							<div class="col-md-12">
								<a href="https://github.com/swagger-api/swagger-ui" target="_blank">https://github.com/swagger-api/swagger-ui</a>
							</div>							
							<div class="col-md-12">
								<a href="https://github.com/swagger-api/swagger-editor" target="_blank">https://github.com/swagger-api/swagger-editor</a>
							</div>
						</div>						
					</div>
				</div>
			</div>
		</div>
	</div>

</div>

</body>
</html>