<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">

<title>Node - Express</title>

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- jQueryJS lib -->
<script src="http://code.jquery.com/jquery-2.0.2.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-responsive.css">

<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,200,600' rel='stylesheet' type='text/css'>

<!-- personal CSS -->
<link rel="stylesheet" href="css/style.css">

<script type="text/javascript">

	function loadTable(){
		$.ajax({
		  type:  'GET',
		  url: 'http://localhost:8081/listUsers',
		  dataType: 'json',
		  success: function(data){		
				drawTable(data);
		  }
		});
	}
	function drawTable(data) {
	
		$("#personDataTable > tbody").html("");
		for (var i = 0; i < data.length; i++) {
			drawRow(data[i]);
		}
	}

	function drawRow(rowData) {
		var row = $("<tr>");
		
		$("#personDataTable > tbody").append(row);
		
		row.append($("<td>" + rowData._id + "</td>"));
		row.append($("<td>" + rowData.id + "</td>"));
		row.append($("<td>" + rowData.name + "</td>"));
		row.append($("<td>" + rowData.profession + "</td>"));
		row.append($("<td> <a href='#' onclick='editUser(event, "+rowData.id+")' title='Edit'><img class='btn-edit-small'></a> <a href='#' onclick='delUser(event, "+rowData.id+")' title='Delete'><img class='btn-delete-small'></a> </td>"));
	}
		
	$(document).ready(function() {
		
		loadTable();

	});
	
	function resetForm($form) {
		$form.find('input:text, input:password, input:file, select, textarea').val('');
		$form.find('input:radio, input:checkbox')
			 .removeAttr('checked').removeAttr('selected');
	}
	
	function newUser(e) {
		resetForm($('#frmUser'));
		
		$("#inputId").prop('disabled', false);
		
		$('#dialogUserLabel').html( 'New User' );
		
		$('#dialogUser').modal('show');
		
		e.preventDefault();
	}
	
	function editUser(e, userId) {
	
		$.ajax({
		  type:  'GET',
		  url: 'http://localhost:8081/getUser/'+userId,
		  dataType: 'json',
		  success: function(data){		
				resetForm($('#frmUser'));
		
				$('#input_Id').val(data._id);
				$('#inputId').val(data.id);
				$('#inputName').val(data.name);
				$('#inputProfession').val(data.profession);
				$('#inputPassword1').val(data.password);
				
				$("#inputId").prop('disabled', true);				
				
				$('#dialogUserLabel').html( 'Edit User' );
				
				$('#dialogUser').modal('show');
				
			}
		});
		
		e.preventDefault();	
		
	}
	
	function delUser(e, userId) {	
	
		$.ajax({
		  type:  'GET',
		  url: 'http://localhost:8081/getUser/'+userId,
		  dataType: 'json',
		  success: function(data){		
				resetForm($('#frmDeleteUser'));
		
				$('#inputDelete_Id').val(data._id);
				$('#inputDeleteId').val(data.id);
				$('#inputDeleteName').val(data.name);
				
				$('#dialogDeleteLabel').html( 'Delete confirmation' );
				
				$('#dialogDelete').modal('show');
				
			}
		});
		
		e.preventDefault();
	}
	
	function saveUser(){
	
			$("#inputId").prop('disabled', false);
			console.log($('#frmUser').serialize()); 			
			
			if ($('#input_Id').val()==""){
				// process the form for New User
				$.ajax({
					type        : 'POST', // define the type of HTTP verb we want to use (POST for our form)
					url         : 'http://localhost:8081/addUser', // the url where we want to POST
					data        : $('#frmUser').serialize(), // our data object
					dataType    : 'json', // what type of data do we expect back from the server
					encode      : true
				})// using the done promise callback
				.done(function(data) {

					// log data to the console so we can see
					console.log(data); 

					$('#dialogUser').modal('hide');
					loadTable();
				});
			}else{
				// process the form to Edit User
				$.ajax({
					type        : 'POST', // define the type of HTTP verb we want to use (POST for our form)
					url         : 'http://localhost:8081/updUser', // the url where we want to POST
					data        : $('#frmUser').serialize(), // our data object
					dataType    : 'json', // what type of data do we expect back from the server
					encode      : true
				})// using the done promise callback
				.done(function(data) {

					// log data to the console so we can see
					console.log(data); 

					$('#dialogUser').modal('hide');
					loadTable();
				});
			}
		
	}
	function deleteUser(){
		//$("#inputDeleteId").prop('disabled', false);
			
		// process the form for New User
		$.ajax({
			type        : 'POST', // define the type of HTTP verb we want to use (POST for our form)
			url         : 'http://localhost:8081/delUser/'+$("#inputDeleteId").val(), // the url where we want to POST
			dataType    : 'json', // what type of data do we expect back from the server
			encode      : true
		})// using the done promise callback
		.done(function(data) {

			// log data to the console so we can see
			console.log(data); 

			$('#dialogDelete').modal('hide');
			loadTable();
		});

			
	}
	
</script>

</head>
<body>

<div>

	<nav class="navbar navbar-fixed-top header">
	 	<div class="col-md-12">
	        <div class="navbar-header">
	          
	          <a class="navbar-brand navbar-brand-beetles" href="../">Webinar - Node.js and BaaS</a>
	          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse1">
	          </button>
	      
	        </div>
	        <div class="collapse navbar-collapse" id="navbar-collapse1">
				<ul class="nav navbar-nav navbar-left">
					<li><a href="../firebase/" class="btn btn-default">Firebase</a></li>
					<li><a href="../rethinkdb/" class="btn btn-default">RethinkDB</a></li>
					<li><a href="../parse/" class="btn btn-default">Parse</a></li>
					<li><a href="../userapp/" class="btn btn-default">UserApp</a></li>
					<li><a href="../node/" class="btn btn-default">Node</a></li>
					<li><a href="../mongodb/" class="btn btn-default">MongoDB</a></li>
					<li><a href="../express/" class="btn btn-default">Express</a></li>
					<li><a href="../swagger/" class="btn btn-default">Swagger</a></li>
					<li><a href="../apiblueprint/" class="btn btn-default">APIary (APIBlueprint)</a></li>
					<li><a href="../loopback/" class="btn btn-default">Loopback</a></li>
	           </ul>
	        </div>	
	     </div>	
	</nav>		

	
	<div class="container" id="main">
	  
		<div class="row">
	    
			<div class="col-md-4 col-sm-6">
	      
		      <div class="panel panel-default">
			     
					<div class="panel-body">
						<div class="row">
							<div class="col-md-12">
								<h1>Please execute follow the steps:</h1>
							</div>
							<div class="col-md-12">
								Exec assets\express\start_mongoDB.bat
							</div>
							<div class="col-md-12">
								Exec assets\express\start_node.bat
							</div>							
						</div>						
					</div>
				</div>
			</div>
			
			<div class="col-md-4 col-sm-6">
	      
		      <div class="panel panel-default">
			     
					<div class="panel-body">
						<div class="row">							
							<div class="col-md-12">
								List of APIs (Use Postman):
								<ul>
								<li><a href="http://localhost:8081/listUsers" target="_blank">GET http://localhost:8081/listUsers</a></li>
								<li><a href="http://localhost:8081/addUser" target="_blank"> POST http://localhost:8081/addUser</a></li>
								<li><a href="http://localhost:8081/getUser/2" target="_blank">GET http://localhost:8081/getUser/2</a></li>
								<li><a href="http://localhost:8081/delUser/2" target="_blank">POST http://localhost:8081/delUser/2</a></li>
								<li><a href="http://localhost:8081/updUser" target="_blank">POST http://localhost:8081/updUser</a></li>
								</ul>
							</div>
						</div>						
					</div>
				</div>
			</div>
			
			<div class="col-md-12 col-sm-12">
				<div class="panel panel-default panel-data">
			     
					<div class="panel-body">
						<div class="row">
							<div class="col-md-8">
								<h4>Users</h4>								
							</div>
							<div class="col-md-2">
								<a href="#" onclick="newUser(event)" title="Add"><img class='btn-new-small'>New User</a>
							</div>
							<div class="col-md-2">
								<a href="#" onclick="loadTable()" title="Add"><img class='btn-reload-small'>Reload</a>
							</div>
						</div>
					</div>
					<div class="panel-data-table">
						<table class="table table-bordered table-striped header-fixed personDataTable" id="personDataTable">
							<thead>
								<tr>
									<th>_Id</th>
									<th>Id</th>
									<th>Name</th>
									<th>Profession</th>
									<th>Actions</th>
								</tr>
							</thead>
							<tbody>						
							</tbody>
						</table>
					</div>
				</div>
			</div>
			
		</div>
	</div>

</div>


<!-- Modal for New and Edit -->
<div class="modal fade" id="dialogUser" tabindex="-1" role="dialog" aria-labelledby="dialogUserLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="dialogUserLabel">New User</h4>
			</div>
			<div class="modal-body">
				<form id="frmUser" method="post" novalidate enctype="multipart/form-data">
					<div class="form-group">
						<label for="input_Id">_Id</label>
						<input type="text" class="form-control" id="input_Id" placeholder="_Id" disabled>
					</div>
					
					<div class="form-group">
						<label for="inputId">Id</label>
						<input type="text" class="form-control" id="inputId" placeholder="Id" name="id">
					</div>
				
					<div class="form-group">
						<label for="inputName">Name</label>
						<input type="text" class="form-control" id="inputName" placeholder="Name" name="name">
					</div>
					
					<div class="form-group">
						<label for="inputProfession">Profession</label>
						<input type="text" class="form-control" id="inputProfession" placeholder="Profession" name="profession">
					</div>
				
					<div class="form-group">
						<label for="inputPassword1">Password</label>
						<input type="password" class="form-control" id="inputPassword1" placeholder="Password" name="password">
					</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" onClick="saveUser()">Save changes</button>
			</div>
		</div>
	</div>
</div>

<!-- Modal for Delete -->
<div class="modal fade" id="dialogDelete" tabindex="-1" role="dialog" aria-labelledby="dialogDeleteLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="dialogDeleteLabel">Delete confirmation</h4>
			</div>
			<div class="modal-body">
				<form id="frmDeleteUser" method="post" novalidate enctype="multipart/form-data">
					<div class="form-group">
						<label for="inputDelete_Id">_Id</label>
						<input type="text" class="form-control" id="inputDelete_Id" placeholder="_Id" disabled>
					</div>
					
					<div class="form-group">
						<label for="inputDeleteId">Id</label>
						<input type="text" class="form-control" id="inputDeleteId" placeholder="Id" name="id" disabled>
					</div>
				
					<div class="form-group">
						<label for="inputDeleteName">Name</label>
						<input type="text" class="form-control" id="inputDeleteName" placeholder="Name" name="name" disabled>
					</div>					
					
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" onClick="deleteUser()">Confirm</button>
			</div>
		</div>
	</div>
</div>


</body>
</html>