<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">

<title>Node - MongoDB</title>

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- jQueryJS lib -->
<script src="http://code.jquery.com/jquery-2.0.2.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-responsive.css">

<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,200,600' rel='stylesheet' type='text/css'>

<!-- personal CSS -->
<link rel="stylesheet" href="css/style.css">

</head>
<body>

<div>

	<nav class="navbar navbar-fixed-top header">
	 	<div class="col-md-12">
	        <div class="navbar-header">
	          
	          <a class="navbar-brand navbar-brand-beetles" href="../">Webinar - Node.js and BaaS</a>
	          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse1">
	          </button>
	      
	        </div>
	        <div class="collapse navbar-collapse" id="navbar-collapse1">
				<ul class="nav navbar-nav navbar-left">
					<li><a href="../firebase/" class="btn btn-default">Firebase</a></li>
					<li><a href="../rethinkdb/" class="btn btn-default">RethinkDB</a></li>
					<li><a href="../parse/" class="btn btn-default">Parse</a></li>
					<li><a href="../userapp/" class="btn btn-default">UserApp</a></li>
					<li><a href="../node/" class="btn btn-default">Node</a></li>
					<li><a href="../mongodb/" class="btn btn-default">MongoDB</a></li>
					<li><a href="../express/" class="btn btn-default">Express</a></li>
					<li><a href="../swagger/" class="btn btn-default">Swagger</a></li>
					<li><a href="../apiblueprint/" class="btn btn-default">APIary (APIBlueprint)</a></li>
					<li><a href="../loopback/" class="btn btn-default">Loopback</a></li>
	           </ul>
	        </div>	
	     </div>	
	</nav>		

	
	<div class="container" id="main">
	  
		<div class="row">
	    
			<div class="col-md-4 col-sm-6">
	      
		      <div class="panel panel-default">
			     
					<div class="panel-body">
						<div class="row">
							<div class="col-md-12">
								<h1>Please execute follow the steps:</h1>
							</div>
							<div class="col-md-12">
								Exec assets\loopback\start_swagger_editor.bat
							</div>							
							<div class="col-md-12">
								So you can access <a href="http://localhost:8089/" target="_blank">http://localhost:8089/</a>
							</div>
						</div>						
					</div>
				</div>
			</div>
			
			<div class="col-md-4 col-sm-6">
	      
		      <div class="panel panel-default">
			     
					<div class="panel-body">
						<div class="row">
							<div class="col-md-12">
								<h1>Local preview:</h1>
							</div>
							<div class="col-md-12">
								<a href="http://localhost:8080/swagger/swagger-ui/dist/" target="_blank">http://localhost:8080/swagger/swagger-ui/dist/</a>
							</div>							
						</div>						
					</div>
				</div>
			</div>			
			
			<div class="col-md-4 col-sm-6">
	      
		      <div class="panel panel-default">
			     
					<div class="panel-body">
						<div class="row">							
							<div class="col-md-12">
								<h1>Available on:</h1>
							</div>							
							<div class="col-md-12">
								<a href="https://github.com/swagger-api/swagger-ui" target="_blank">https://github.com/swagger-api/swagger-ui</a>
							</div>							
							<div class="col-md-12">
								<a href="https://github.com/swagger-api/swagger-editor" target="_blank">https://github.com/swagger-api/swagger-editor</a>
							</div>
						</div>						
					</div>
				</div>
			</div>
		</div>
	</div>

</div>

</body>
</html>